<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Ajerly_Platform</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/Ajerly_Platform.styles.css" asp-append-version="true"/>
</head>
<body>
<nav class="custom-navbar">
    <div class="nav-right">
        <button class="btn-run">
            <span class="icon">✏️</span>
          اجرلي
        </button>
    </div>

    <div class="nav-left">
        <button class="btn-login">دخول</button>
        <button class="btn-register">تسجيل</button>
    </div>
</nav>




@RenderBody()
</body>

</html>